<template>
  <router-view></router-view>
</template>

<script>
  import socket from "./socket"

  export default {
    provide() { return {
      api: this.provided
    }},

    data() { return {
      provided: {
        channel: null,
      }
    }},

    created() {
      let channel = socket.channel("main", {})

      channel.join()
        .receive("ok", resp => { this.$store.commit("set_lists", resp) })
        .receive("error", resp => { console.error("Unable to join", resp) })

      channel.on("list_created", (payload) => this.$store.commit("add_list", payload))
      channel.on("list_updated", (payload) => this.$store.commit("update_list", payload))
      channel.on("list_deleted", (payload) => this.$store.commit("delete_list", payload))

      this.provided.channel = channel
    },

  }
</script>
