<template>
  <v-dialog v-model="open">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ text }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="hide">{{ cancel }}</v-btn>
        <v-btn color="primary darken-1" text @click="confirmDialog">{{ confirm }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      title: String,
      text: String,
      cancel: String,
      confirm: String
    },

    data() { return {
      open: false,
    }},

    methods: {
      hide() { this.open = false },
      show() { this.open = true },

      confirmDialog() {
        this.hide()
        this.$emit('confirm')
      }
    }
  }
</script>
