<template>
  <v-dialog v-model="open">
    <v-card>
      <v-card-title class="headline">{{ creationMode ? $t('title_create') : $t('title_edit', {list: list.name}) }}</v-card-title>
      <v-card-text>
        <v-text-field v-model="name" :label="$t('name')"/>
        <v-text-field v-model="description" :label="$t('description')"/>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="hide">{{ $t('cancel') }}</v-btn>
        <v-btn color="primary darken-1" text @click="validate">{{ creationMode ? $t('create') : $t('update') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      list: Object
    },

    data() { return {
      open: false,
      name: this.list ? this.list.name : null,
      description: this.list ? this.list.description : null
    }},

    computed: {
      creationMode() { return this.list == null || this.list == {} }
    },

    watch: {
      open(v) {
        this.name = this.list ? this.list.name : null
        this.description = this.list ? this.list.description : null
      }
    },

    methods: {
      hide() { this.open = false },
      show() { this.open = true },

      validate() {
        this.hide()
				let params = {name: this.name, description: this.description}
        this.$emit('validate', params)
      }
    }
  }
</script>

<i18n>
en:
  title_create: "Create a new list"
  title_edit: "Edit {list}"
  name: "Name"
  description: "Description"
  cancel: "Cancel"
  create: "Create"
  update: "Update"

fr:
  title_create: "Créer une nouvelle liste"
  title_edit: "Editer {list}"
  name: "Nom"
  description: "Description"
  cancel: "Annuler"
  create: "Créer"
  update: "Mettre à jour"
</i18n>
