<template functional>
  <v-list-item
    :key="props.value.id"
    :disabled="parent.commandRunning(null, {id: props.value.id})"
    :class="{'blue-grey': props.value.checked, 'lighten-5': props.value.checked}"
    @click="parent.updateItem(props.value.id, !props.value.checked)">

    <!-- Checkbox -->
    <v-list-item-avatar>
      <v-progress-circular v-if="parent.commandRunning('update_item', {id: props.value.id})" indeterminate/>
      <v-icon v-else>{{ props.value.checked ? "mdi-checkbox-marked-outline" : "mdi-checkbox-blank-outline" }}</v-icon>
    </v-list-item-avatar>

    <!-- Content -->
    <v-list-item-content>
      <v-list-item-title v-if="!props.value.checked" v-text="props.value.name"/>
      <v-list-item-title v-else disabled><s>{{ props.value.name }}</s></v-list-item-title>
    </v-list-item-content>

    <!-- Actions -->
    <v-list-item-action v-if="props.editable">
      <!-- Edit button -->
      <v-btn
        icon
        small
        color="secondary lighten-2"
        @click.stop="parent.editItem(props.value.id)">
        <v-icon>mdi-circle-edit-outline</v-icon>
      </v-btn>

      <!-- Delete button -->
      <v-btn
        icon
        small
        color="secondary lighten-2"
        :loading="parent.commandRunning('delete_item', {id: props.value.id})"
        @click.stop="parent.deleteItem(props.value.id)">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
  export default {
    props: {
      value: Object,
      editable: Boolean
    }
  }
</script>
