<template>
  <layout :title="list.name">

    <!-- -->
    <!-- Toolbar -->
    <!-- -->
    <template slot="toolbar">
      <v-spacer/>

      <!-- Toggle filters -->
      <v-btn icon @click="showSearchFilter = !showSearchFilter">
        <v-icon v-if="showSearchFilter">mdi-filter-remove</v-icon>
        <v-icon v-else>mdi-filter</v-icon>
      </v-btn>

      <!-- Overflow menu -->
      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <!-- Edit list -->
          <v-list-item @click="$refs.dialogEdit.show()">
            <v-list-item-title>{{ $t('edit') }}</v-list-item-title>
          </v-list-item>
          <!-- Delete list -->
          <v-list-item @click="$refs.dialogConfirmDelete.show()">
            <v-list-item-title>{{ $t('delete') }}</v-list-item-title>
          </v-list-item>
          <v-divider/>
          <!-- Hide done option -->
          <v-list-item>
            <v-list-item-action>
              <v-checkbox v-model="hideDone"/>
            </v-list-item-action>
            <v-list-item-title>{{ $t('hideDone') }}</v-list-item-title>
          </v-list-item>
          <!-- Edit item option -->
          <v-list-item>
            <v-list-item-action>
              <v-checkbox v-model="editItems"/>
            </v-list-item-action>
            <v-list-item-title>{{ $t('editItems') }}</v-list-item-title>
          </v-list-item>

        </v-list>
      </v-menu>
    </template>


    <!-- -->
    <!-- Page content -->
    <!-- -->
    <template>
      <!-- Search filter -->
      <v-text-field
        v-if="showSearchFilter"
        v-model="searchFilter"
        :label="$t('search')"
        @keyup.enter="createItem"
        autofocus
        clearable
        hide-details
        single-line/>

      <!-- Items list -->
      <v-slide-y-transition tag="v-list" group subheader>

        <!-- In case of search filter, append a create item and use one list to display the search results -->
        <template v-if="searchFilter">

          <!-- Add filter item -->
          <v-list-item v-if="searchFilter" key="additem" @click="createItem">
            <v-list-item-action>
              <v-btn icon small color="accent">
                <v-icon>mdi-plus-box</v-icon>
              </v-btn>
            </v-list-item-action>
            <v-list-item-title><strong>{{ searchFilter }}</strong></v-list-item-title>
          </v-list-item>

          <!-- Search results -->
          <v-subheader key="searchresults">{{ $t('searchResults', {count: itemsFiltered.length}) }}</v-subheader>
          <template v-for="i in itemsFiltered">
            <item :value="i" :editable="editItems"/>
          </template>

        </template>

        <!-- When no search is given, split the done and running items into 2 sublists -->
        <template v-else>

          <!-- Running items -->
          <v-subheader :key="'running'">{{ $t('itemsRunning', {count: itemsRunning.length}) }}</v-subheader>
          <item v-for="i in itemsRunning" :key="i.id" :value="i" :editable="editItems"/>

          <!-- Done items -->
          <template v-if="!hideDone">
            <v-subheader :key="'done'" v-if="itemsDone.length > 0">{{ $t('itemsDone', {count: itemsDone.length}) }}</v-subheader>
            <item v-for="i in itemsDone" :key="i.id" :value="i" :editable="editItems" />
          </template>

        </template>
      </v-slide-y-transition>

      <!-- Confirm list edit dialog -->
      <dialog-confirm ref="dialogConfirmDelete"
        :title="$t('confirm_delete_title')"
        :text="$t('confirm_delete_text', {list: list.name})"
        :cancel="$t('cancel')"
        :confirm="$t('delete')"
        @confirm="deleteList"/>

      <!-- Input dialog for item name-->
      <dialog-input ref="dialogEditItem"
        :title="$t('editItemDialog')"
        @validate="updateItemName"/>

      <!-- List edit dialog -->
      <dialog-edit ref="dialogEdit" :list="list" @validate="updateList"/>
    </template>
  </layout>
</template>

<script>
  import socket from "./socket"

  import { VProgressCircular, VList, VListItemAvatar, VListItemContent } from 'vuetify/lib'
  import Layout from './layout.vue'
  import Item from './item.vue'
  import DialogEdit from './dialog_edit.vue'
  import DialogInput from './dialog_input.vue'
  import DialogConfirm from './dialog_confirm.vue'

  import { withChannel } from './channels.js'

export default {
	components: { VProgressCircular, VListItemAvatar, VListItemContent, Layout, Item, DialogEdit, DialogInput, DialogConfirm },

    inject: ['api'],

    props: {
      listId: Number
    },

    mixins: [
      withChannel({handlers: ["item_created", "item_updated", "item_deleted"]})
    ],

    data() { return {
      showSearchFilter: !this.$vuetify.breakpoint.xsOnly,
      searchFilter: null,
      hideDone: window.localStorage.hideDone == "true" ? true : false,
      editItems: false
    }},

    computed: {
      _channelName() { return this.listId ? `list:${this.listId}` : null },
      list() { return this.$store.getters.getList(this.listId) || {} },
      items() { return this.$store.getters.getItems(this.listId) || [] },
      itemsRunning() { return this.items.filter(item => !item.checked).sort(this.sortItems) },
      itemsDone() { return this.items.filter(item => item.checked).sort(this.sortItems) },

      itemsFiltered() {
        let r = new RegExp(this.searchFilter || "", "i")
        return this.items.filter(item => item.name.match(r)).sort(this.sortItems)
      }
    },

    watch: {
      hideDone(n, o) { window.localStorage.hideDone = n },
      showSearchFilter(n, o) { if(n == false) this.searchFilter = null }
    },

    methods: {
      sortItems: (a, b) => a.name.localeCompare(b.name),

      onChannelJoined(channel, resp) { this.$store.commit("set_items", resp) },

      onChannelEvent(type, payload) {
        if(type == "item_created") this.$store.commit("add_item", payload)
        else if(type == "item_updated") this.$store.commit("update_item", payload)
        else if(type == "item_deleted") this.$store.commit("delete_item", payload)
      },

      deleteList() {
        this.api.channel.push("delete_list", this.list)
          .receive("ok", resp => {
            console.log('list deleted')
            this.$router.replace('/lists')
          })
          .receive("error", resp => console.log('error deleting list'))
          .receive("timeout", resp => console.log('timeout deleting list'))
      },

      updateList(list) {
        this.api.channel.push("update_list", {id: this.listId, ...list})
          .receive("ok", resp => console.log('list updated'))
          .receive("error", resp => console.log('error updating list'))
          .receive("timeout", resp => console.log('timeout updating list'))
      },

      editItem(id) {
        this.$refs.dialogEditItem.show(this.$store.getters.getItem(id))
      },

      createItem() {
        this.channelCommand("create_item", {name: this.searchFilter, list_id: this.listId}, resp => {
          console.log('item created')
          this.searchFilter = null
        })
      },

      deleteItem(id) {
        this.channelCommand("delete_item", {id: id}, resp => console.log('item deleted'))
      },

      updateItem(id, checked) {
        this.channelCommand("update_item", {id: id, checked: checked}, resp => console.log('item updated'))
      },

      updateItemName({item, name}) {
        this.channelCommand("update_item", {id: item.id, name: name}, resp => console.log('item updated'))
      },

    }
  }
</script>

<i18n>
en:
  add: "Add {name}"
  search: "Search"
  searchResults: "{count} results"
  itemsDone: "{count} done"
  itemsRunning: "{count} running"
  edit: "Edit"
  delete: "Delete"
  cancel: "Cancel"
  editItemDialog: "Edit item"
  hideDone: "Hide checked"
  editItems: "Edit items"
  confirm_delete_title: "Delete list"
  confirm_delete_text: "Confirm deletion of {list}"

fr:
  add: "Ajouter {name}"
  search: "Rechercher"
  searchResults: "{count} résultats"
  itemsDone: "{count} terminés"
  itemsRunning: "{count} en cours"
  edit: "Editer"
  delete: "Supprimer"
  cancel: "Annuler"
  editItemDialog: "Editer l'élément"
  hideDone: "Cacher terminés"
  editItems: "Editer les éléments"
  confirm_delete_title: "Supprimer la liste"
  confirm_delete_text: "Confirmer la suppression de la liste {list}"
</i18n>
