<template>
  <layout :title="$t('lbl_shopping_lists')">
    <v-layout row wrap align-start>
      <v-flex pa-2 xs12 sm6 md3 v-for="list in lists" :key="list.id">
        <v-card @click="$router.push(`/list/${list.id}`)">
          <v-card-title>{{ list.name }}</v-card-title>
          <v-card-text>{{ list.description }}</v-card-text>
          <v-card-actions>
            <v-btn block text color="primary">
              <span>{{ $t('items_count', {count: list.items}) }}</span>
              <v-icon class="ml-5">mdi-cart</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <dialog-edit ref="editDialog" @validate="createList"/>

    <v-btn fab fixed bottom right color="accent" class="" @click="$refs.editDialog.show()">
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </layout>
</template>

<script>
  import { mapState } from 'vuex'

  import Layout from './layout.vue'
  import DialogEdit from './dialog_edit.vue'

  export default {
    components: { Layout, DialogEdit },

    inject: ['api'],

    data() { return {
    }},

    computed: mapState({
      lists: 'lists'
    }),

    methods: {
      createList(list) {
        this.api.channel.push("create_list", list)
          .receive("ok", resp => console.log('list created'))
          .receive("error", resp => console.log('error creating list'))
          .receive("timeout", resp => console.log('timeout creating list'))
      }
    }
  }
</script>

<i18n src="./locales.yaml"></i18n>
<i18n>
en:
  items_count: "{count} items"

fr:
  items_count: "{count} éléments"
</i18n>
